*{
  box-sizing: border-box;
}

  

  h1{
     padding-left: 20px;
     font-size: large; 

  }
  p{
      margin: 20px;
      row-gap: 150px;
  }
  
  li{
      font-size:x-small;
    }

  li a{
      
  }


  .container {
     display: grid;
     max-width: 1200px;
     margin:auto;
     background-color:rgb(226, 225, 225);

  }
  .meny{
      background-image: url('bilder-bastu/forsta-ruta.webp');
     width: 100%;
     justify-content: flex-end;
     height: 125px;
     background-size: cover;
     background-position: center center;
  }

  .meny

  nav {
      overflow: hidden;
    }

    nav a {
      float: left;
      display: block;
      color: white;
      text-align: center;
      padding: 14px 20px;
      text-decoration: none;
    }



    nav a:hover {
      
    }

    
  .knapp{
      background-color: lightcoral; 
      cursor: pointer; 
      transition: background-color 0.3s ease;
      display: flex; 
      justify-content: center;
      align-items: center;
      border: none;
      position:fixed;
      z-index: 1000;
  }
  .bild-info{
      margin:20px;
      background-image: url('bilder-bastu/storbild.webp');
      background-size: cover;
      padding:30px; 
      background-position: center center;
  }
  #inforuta1{  
   background-color: whitesmoke;
   padding-top: 10px;
   padding-bottom: 10px;
   
  }

ul{
  list-style: none;
}

.x6bildruta{
align-self: center;
display:grid;
grid-template-columns: 1fr 1fr;


}
.x6bildruta img{
width: 100%; 
margin:0;
padding:1%;
object-fit: contain;


}

#slutruta{
  text-align: center;
}

.rutor{
  margin:30px;   
  background-color:whitesmoke;
  border-radius: 15px;
}

@media screen and (min-width: 400px) {
  .container {
    

  }

  li{
      font-size: small;
  }

  p{
      font-size: small;
  }

  h1{
      font-size: x-large
  }
  .x6bildruta {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr ;
  }
}

@media screen and (min-width: 700px) {
  .container {
    

  }

  li{
      font-size: medium;
  }

  p{
      font-size: medium;
  }
  h1{
      font-size: xx-large
  }
  .x6bildruta {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr ;
  }
}
@media screen and (min-width: 1200px) {
  .container {

   
  }
  li{
      font-size:large; 
  }
  p{
      font-size: large;
  }
  h1{
      font-size: xx-large;
  }
}
