

    
    #body{
        background-color: gray;
        border-style: dotted;
        margin:auto;
    }
    .container {
       display: grid;
       border: solid thin black;
       max-width: 1200px;
       margin:auto;
       background-color: gray;

    }
    .meny{
        background-image: url('bilder/nedladdning\ \(16\).webp');
        height: 50px;
        border: solid thin pink;
       width: 100%;
       justify-content: flex-end;

    }
    .knapp{
        width: 50px;
        height: 50px;
        border-radius: 10px;
        background-color: lightblue;
        justify-content: end;
    }
    .bild-info{
        background-image: url('bilder/strandbastu.webp');
        height: 500px;
    }

ul{
    list-style: none;
}

.slutruta{
    text-align: center;
}

#rutor{
    margin:30px;
    background-color:whitesmoke;
}

@media screen and (min-width: 700px) {
    .container {
       background-color: red;
       height: 30px;
    }
}
@media screen and (min-width: 1200px) {
    .container {
       background-color: purple;
       height: 300px;
    }
}
