*{
    box-sizing: border-box;
}

    
    #body{
        background-color: gray;
        border-style: dotted;
       
    }

    h2{
        
    }
    p{
        margin: 20px;
        color: #0000ff;
        row-gap: 150px;
    }
    .container {
       display: grid;
       border: solid thin black;
       max-width: 1200px;
       margin:auto;
       background-color: gray;

    }
    .meny{
        background-image: url('bilder/nedladdning\ \(16\).webp');
        border: solid thin pink;
       width: 100%;
       justify-content: flex-end;
       height: 125px;
       

    }

    nav {
    
        overflow: hidden;
      }
  
      nav a {
        float: left;
        display: block;
        color: white;
        text-align: center;
        padding: 14px 20px;
        text-decoration: none;
      }

      nav a:hover {
        
      }

      
    .knapp{
        background-color: #87CEEB; 
        cursor: pointer; 
        transition: background-color 0.3s ease; /* Mjuk övergång för hover-effekt */
        display: flex; /* För att centrera innehållet inuti knappen */
        justify-content: center;
        align-items: center;
        border: none; /* Ta bort standardborder */
        position:fixed;
        z-index: 1000;
    }
    .bild-info{
        background-image: url('bilder/storbild.webp');
        background-size: cover;
        padding:30px; 
        background-position: center center;
    }
    .inforuta1{  
     background-color: whitesmoke;
     padding-top: 10px;
     padding-bottom: 10px;
    }

ul{
    list-style: none;
}

.x6bildruta{
border-style:dotted;

align-self: center;
display:grid;
grid-template-columns: 1fr 1fr;


}
.x6bildruta img{
width: 100%; 
margin:0;
padding:1%;
object-fit: contain;
/* display: block; */

}

.slutruta{
    text-align: center;
}

#rutor{
    margin:30px;   
    background-color:whitesmoke;
}

@media screen and (min-width: 700px) {
    .container {
       background-color: red;
  
    }

    .x6bildruta {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
    }
}
@media screen and (min-width: 1200px) {
    .container {
       background-color: purple;
       height: 300px;
    }
}
