nav {
    overflow: hidden;
  }

  nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }



  nav a:hover {
    
  }

  
.knapp{
    background-color: lightcoral; 
    cursor: pointer; 
    transition: background-color 0.3s ease;
    display: flex; 
    justify-content: center;
    align-items: center;
    border: none;
    position:fixed;
    z-index: 1000;
}